/* body {
    background-image: url('/images/bg-paper.jpg');
  } */


.nav-phone {
    display: none !important;
}

.nav-large {
    display: block !important;
}

/* 
@media screen and (max-device-width: 600px) {
    .nav-phone {
        display: block!important;
    }

    .nav-large {
        display: none!important;
    }
} */

.display-pic img {
    height: 100%;
    object-fit: cover;
}

#nav {
    display: flex;
    background-color: #1d6c6e;
}

#nav ul {
    display: flex;
    align-items: center;
    justify-content: left;
}

input[type=submit], .button {
    background-color: #1d6c6e;
}

#nav a:hover , input[type=submit]:hover, .button:hover {
    background-color: #2aa0a3;
}

#brand-items {
    display: flex;
    align-items: center;
}

#logo {
    height: 100%;
    padding: 5px;
    /* max-width: 5%; */
}

#logo-title {
    height: 100%;
}

#title-text {
    color: aliceblue;
    padding: 5px;
    margin: 0;
}

.heading-font {
    font-family: serif;
}

.blurb {
    text-align: left;
}

.art-description {
    padding: 16px;
}

.pointillism-box {
    /* display: flex; */
}

.img-responsive {
    max-width: 100%;
    height: 100%;
}

.grid-item {
    float: right;
    width: 32%;
    padding: 8px;
}

.grid-item--width2 {
    width: 400px;
}

.grid-item--height2 {
    height: 140px;
}